header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -32px;
}

hr {
    position: relative;
    border: none;
    background: black;
}
      
   html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
   
   body { margin: 0; font-size: 0.95em; line-height: 1.35; background-color: grey;}
   
   
   ::-moz-selection { background: #037874; color: #fff; text-shadow: none; }
   ::selection { background: #037874; color: #fff; text-shadow: none; }
   
   hr { display: block; height: 2px; border: 0; border-top: 1px solid #ccc; margin: -0.8em 0; padding: 0; }
   
   .container {
       width: 80%;
       max-width: 800px;
       padding-right: 100px;
       padding-left: 100px;
       padding-bottom: 50px;
       padding-top: 30px;
       margin: 0 auto;	
       background-color: white;
   }


   
   


   
   

